h1 {
    font-family: inherit;
    font-weight: 800;
    font-style: "extraBold";
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -2.5%;
    color: white;
    margin: 0;
}
h1 > span {
    color: #10B981;
}
main {
    background: #1F2937;
    width: 550px;
    padding: 115px 53px; 
}
p {
    
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #D5D4D8;
    margin-bottom: 30px;

}
.checkboxes {
    margin-top: 0px;
    margin-bottom: 21px;
    font-size: 1rem;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    display: flex;
    flex-direction: column;

}
button {
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 35px;
    width: 191;
height: 42;
top: 284px;
left: 52px;
background-color:#10B981;
border: none;
border-radius: 6px;
padding-top: 9px;
padding-right: 17px;
padding-bottom: 9px;
padding-left: 15px;
gap: 12px;
color: white;
font-size: 1rem;
line-height: 24px;
}
body {
    font-family: "Karla", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    
    height: 100vh;
    background: #1C1C1C;

}
hr {
    border: 1px solid #2F3E53;
    margin: 0px;
}
div.password-area {
    display: flex;
    justify-content: space-evenly;
}
div.password-area > span {
    margin-top: 35px;
    height: 40px;
    width: 210px;
    background-color: #273549;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 5px;
    border-radius: 6px;
    color: #55F991;
}