body {
    margin: 0px;
    padding: 0px;
    background-color: #1B244A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container > h3 {
    color: #EEEEEE;
    font-family: Verdana;
    font-weight: 700;
    font-style: Bold;
    font-size: 2.5rem;
    text-align: center;
    margin: 0px;
}
.container > .score {
    background-color: #080001;
    height: 250px;
    width: 250px; 
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container > .score > p {
    margin: 0;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 7rem;
    line-height: 1;
    color: #F94F6D;
}
.container > .btns {
    display:flex;
    gap: 20px;
}
.container > .btns > button{
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: inherit;
    height: 65px;
    width: 65px;
    border: 2px solid #9AABD8;
    color: #9AABD8;
    opacity: 1;
    border-radius: 5px;
    margin: 0px;
    font-size: 1.25rem;
    font-weight: 400;
    cursor: pointer;                
}
.btn {
    justify-self: start;
    align-self: center;
    background-color: skyblue;
    color: white;
    font-size: 1.5rem;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
}